---
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Welcome to Astro</title>

	<GoogleFontsOptimizer url={"https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&display=swap"}>
	</GoogleFontsOptimizer>
</head>

<body style="font-family: 'Inter'">
	Hello wolrd!
</body>

</html>